
<form class="profile-search-form" [formGroup]="searchForm">
            <label class="tt-form-label">
                <span class="tt-form-label__text">Name user</span>
                <input type="text" class="tt-form-input" formControlName="firstName">
            </label>

             <label class="tt-form-label">
                <span class="tt-form-label__text">Lastname user</span>
                <input type="text" class="tt-form-input" formControlName="lastName">
            </label>
            
            <label class="tt-form-label">
                <span class="tt-form-label__text">Skils</span>
                <input type="text" class="tt-form-input" formControlName="stack">
            </label>
</form>

