.profile-search-form {
    padding: 16px 20px;
    background-color: var(--primary-color);
    border: 2px solid var(--light-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-gap: 40px
}

.text-color-black {
  color: var(--dark-color);
}

.input-color {
  border: 1px solid var(--light-color);
}
