<div class="post">
    <div class="post-header">
        <img [src]="post.author.avatarUrl | imgUrl" alt="avatar" />

        <div>
            <div class="author">{{ post.author.firstName }}</div>
            <div class="time">{{ post.createdAt | date: "mediumDate" }}</div>
        </div>
    </div>

    <div class="post-text">
        {{ post.content }}
    </div>

    <div class="stats">
        <div>💬 {{ post.comments.length }}</div>
        <div>❤️ {{ post.likes }}</div>
    </div>

    <!--    &lt;!&ndash; Комментарии &ndash;&gt;-->
    <!--    <div class="comment">-->
    <!--        <img src="https://i.pravatar.cc/32?u=3" alt="avatar">-->
    <!--        <div>-->
    <!--            <div class="comment-text">-->
    <!--                Терминаторы тестируют стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!-->
    <!--            </div>-->
    <!--            <div class="comment-date">04.04.2024</div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="comment">-->
    <!--        <img src="https://i.pravatar.cc/32?u=3" alt="avatar">-->
    <!--        <div>-->
    <!--            <div class="comment-text">-->
    <!--                Терминаторы тестируют стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!-->
    <!--            </div>-->
    <!--            <div class="comment-date">04.04.2024</div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Ввод комментария &ndash;&gt;-->
    <!--    <div class="comment-input">-->
    <!--        <img src="https://i.pravatar.cc/36?u=4" alt="avatar">-->
    <!--        <input type="text" placeholder="Напишите комментарий">-->
    <!--        <button class="send-btn">➤</button>-->
    <!--    </div>-->
</div>
