<div class="appbar sticky page-title">
    <button class="button back" (click)="goBack()">
        <img class="img" src="/assets/imgs/goback.svg" alt="" />
    </button>

    <span class="title">{{ description }}</span>

    @if (filter) {
        <button class="button menu" [ngClass]="isView() ? 'btn-filter-active' : 'btn-filter-not-active'" (click)="toggleFilter()">
            <img class="img" src="/assets/imgs/filter.svg" alt="" />
        </button>
    }

    <button class="button menu" (click)="togglePopover()">
        <img class="img" src="/assets/imgs/dots.svg" alt="" />
    </button>

    @if (showPopover) {
        <div class="popover">
            <ul class="filter-list">
                <li (click)="applyFilter('Все')">Все</li>
                <li (click)="applyFilter('Активные')">Активные</li>
                <li (click)="applyFilter('Архив')">Архив</li>
            </ul>
        </div>
    }
</div>
