<app-profile-header>
            
</app-profile-header>

<form class="profile-form" [formGroup]="form">
    <div class="two-columns">
        <label class="tt-form-label">
            <span class="tt-form-label__text">Name</span>
            <input type="text" class="tt-form-input" formControlName="firstName">
        </label>
        
        <label class="tt-form-label">
            <span class="tt-form-label__text">Lastname</span>
            <input type="text" class="tt-form-input" formControlName="lastName">
        </label>
    </div>
</form>
