.profile-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to-setting-btn {
    width: 190px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.to-settings-icon {
    width: 14px;
    height: 14px;
    color: var(--dark-color);
}

