:host {
    display: grid;
    grid-template-columns: 330px 1fr;
    height: 100dvh;
    overflow: hidden;
}

app-sidebar {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.workspace {
    padding: 0 24px;
    overflow-y: auto;
}

@media (max-width: 900px) {
   .sidebar{
       display: none;
   }

    :host {
        display: flex;
        justify-content: center;
        height: 100%;
    }
}
