:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.img-login {
  max-width: 100%;
  height: auto;
}

.login-form,
.big-logo {
  place-self: center;
}

.password-input {
  position: relative;
}

.password-eye-btn {
  height: 21px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.password-eye-btn.active {
  border-radius: 50%;
  background-color: var(--primary-color);
}

