@if (chatData$ | async; as chat) {
    <div class="chat-header">
        <img class="avatar2" [src]="chat.userFirst.avatarUrl | imgUrl" alt="avatar" />
        <span class="username">{{ chat.userFirst.username }}</span>
        <input
            [(ngModel)]="newMessage"
            (keydown.enter)="sendMessage()"
            placeholder="Введите сообщение..."
            type="text"
            class="message-field"
        />
        <button (click)="sendMessage()" class="send-btn" [disabled]="!newMessage.trim()">Отправить</button>
    </div>

<!--    <button (click)="gg()">htrbdhjytn</button>-->

<!--    <button (click)="gg2()">delet</button>-->

    @for (message of chat.messages; track message.id) {
        <div (click)="gg2()" [ngClass]="{ 'my-message': isMyMessage(message), 'partner-message': !isMyMessage(message) }" class="message">
            <div>
                <img
                    class="avatar"
                    [src]="(isMyMessage(message) ? chat.userSecond.avatarUrl : chat.userFirst.avatarUrl) | imgUrl"
                    alt="avatar"
                />
                {{ message.text }}
            </div>

            @if (isMyMessage(message)) {
                <div class="action-messages">
                    <button class="action-message action-red">
                        <img src="/assets/imgs/red.png" width="15" height="15"/>
                    </button>
                    <button (click)="onDelete(message.id)" class="action-message action-delete">
                        <img src="/assets/imgs/delete.png" width="15" height="15"/>
                    </button>
                </div>
            }
        </div>
    }
}
